body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    max-height: 100%;
    margin: 0;
}

.search-from {
    display: flex; 
    justify-content: center;
    margin-top: 10px;
    max-width: auto;
}

.search-input {
    border: rgb(0, 128, 111) solid 2px;
    border-radius: 5px;
}

.search-btn {
    padding: 1px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.main {
    width: 25%;
    text-align: center;
    margin-top: 10%;
    max-width: auto;
    background-color: turquoise;
}